* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px 5px;
    background: #111;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-container {
    width: 100%;
    max-width: 420px;
    min-height: 480px;
    background: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    z-index: 1;
}

.song-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.song-info img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.controls button {
    width: 50px;
    height: 40px;
    font-size: 16px;
    margin: 5px;
}

#repeat:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.controls span.active {
  color: #4caf50; /* green highlight */
  border-radius: 4px;
}

#playlist {
    max-height: 40px;
    overflow-y: auto;
}

.song-item div {
    width: 106px;
    display: flex;
    gap: 2px;
}

button.song-item, button.fav-remove {
    margin-left: 2px;
}

canvas {
    width: 100%;
    height: 100px;
    background: black;
}

.history-container, .fav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0d0d0df0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    z-index: 999;
    padding: 20px;
    overflow-y: auto;
}

.history-container.hidden, .fav-container.hidden {
    display: none;
}

.list-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.list-header h2 {
    margin: auto;
}

button.close {
    width: 30px;
}

.fav-item button {
    margin-left: 8px;
}

@media only screen and (max-width: 450px) {
    .player-container {
        max-width: 380px;
        padding: 12px;
        font-size: smaller;
    }
}

@media only screen and (max-width: 320px) {
    .player-container {
        padding: 8px;
        font-size: small;
    }

    .fav-item button {
        margin-left: 2px;
    }

    #playlist {
        max-height: 30px;
        overflow-y: auto;
    }
}